TAVILY_API_KEY = "tvly-**"
LANGSMITH_API_KEY = "**"
OPENAI_PROJECT_API_KEY=''
OPENWEATHERMAP_API_KEY = ''
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="lsf**"
LANGSMITH_PROJECT="SCADAgri-Visualization"
