# python-dotenv
# psycopg2
requests
flask
langgraph
langchain-openai
langchain-community
chainlit==1.2.0
pandas
plotly
matplotlib
notebook
langgraph-supervisor
seaborn 
tavily-python
langchain-ollama
# pip install --upgrade "langgraph-cli[inmem]"